# "org" ensures this Service is used with the correct Serverless Framework Access Key.
org: kneubots
# "app" enables Serverless Framework Dashboard features and sharing them with other Services.
app: wordle-league
# "service" is the name of this project. This will also be added to your AWS resource names.
service: message-receiver
configValidationMode: error

provider:
  name: aws
  runtime: nodejs20.x
  environment:
    DATABASE_URL: postgresql://neondb_owner:npg_oPIN5CyJmdg6@ep-silent-pine-aenqt4db-pooler.c-2.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require
  httpApi:
    cors:
      allowedOrigins:
        - '*'
      allowedMethods:
        - GET
        - POST
        - DELETE
      allowedHeaders:
        - Content-Type
        - Authorization
      maxAge: 86400

functions:
  sendScoreboards:
    handler: sender.sendScoreboards
    layers:
      - arn:aws:lambda:us-east-1:764866452798:layer:chrome-aws-lambda:40
    events:
      - schedule: cron(0 4 * * ? *)

  sendScoreboardsTest:
    handler: sender.sendScoreboards
    layers:
      - arn:aws:lambda:us-east-1:764866452798:layer:chrome-aws-lambda:40
    events:
      - httpApi:
          path: /sendScoreboardsTest
          method: get

  receiveMessage:
    handler: receiveMessage.receiveMessage
    events:
      - httpApi:
          path: /sendMessage
          method: post

  getRawScoreboards:
    handler: scoreboards.getRawScoreboards
    events:
      - httpApi:
          path: /scoreboards/raw
          method: get

  getScoreboardsHtml:
    handler: scoreboards.getScoreboardsHtml
    events:
      - httpApi:
          path: /scoreboards/html/{chat_id}
          method: get

  getScoreboardsPng:
    handler: scoreboards.getScoreboardsPng
    events:
      - httpApi:
          path: /scoreboards/png/{chat_id}
          method: get

  getScores:
    handler: scores.getScores
    events:
      - httpApi:
          path: /scores
          method: get

  addScore:
    handler: scores.addScore
    events:
      - httpApi:
          path: /score
          method: post

  deleteScore:
    handler: scores.deleteScore
    events:
      - httpApi:
          path: /score
          method: delete

  clearScores:
    handler: scores.clearScores
    events:
      - httpApi:
          path: /scores
          method: delete
