# "org" ensures this Service is used with the correct Serverless Framework Access Key.
org: kneubots
# "app" enables Serverless Framework Dashboard features and sharing them with other Services.
app: wordle-league
# "service" is the name of this project. This will also be added to your AWS resource names.
service: message-receiver
configValidationMode: error

provider:
  name: aws
  runtime: nodejs20.x
  environment:
    DATABASE_URL: postgresql://neondb_owner:npg_oPIN5CyJmdg6@ep-silent-pine-aenqt4db-pooler.c-2.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require
    BOT_TOKEN: '8195866237:AAHcxKujhxXd0pexg05ZphZ-2qtO6g4hxPc'
  httpApi:
    cors:
      allowedOrigins:
        - '*'
      allowedMethods:
        - GET
        - POST
        - DELETE
      allowedHeaders:
        - Content-Type
        - Authorization
      maxAge: 86400

functions:
  sendScoreboards:
    handler: src/functions/sender.sendScoreboards
    timeout: 300 # 5 minutes
    memorySize: 3008 # 3 GB
    events:
      - schedule: cron(0 4 * * ? *)
    layers:
      - arn:aws:lambda:us-east-1:960010173416:layer:chromiumBinaries:1

  receiveMessage:
    handler: src/functions/receiver.receiveMessage
    events:
      - httpApi:
          path: /sendMessage
          method: post

  getRawScoreboards:
    handler: src/functions/scoreboards.getRawScoreboards
    events:
      - httpApi:
          path: /scoreboards/raw
          method: get

  getScoreboardsHtml:
    handler: src/functions/scoreboards.getScoreboardsHtml
    events:
      - httpApi:
          path: /scoreboards/html/{chat_id}
          method: get

  getScores:
    handler: src/functions/scores.getScores
    events:
      - httpApi:
          path: /scores
          method: get

  addScore:
    handler: src/functions/scores.addScore
    events:
      - httpApi:
          path: /score
          method: post

  deleteScore:
    handler: src/functions/scores.deleteScore
    events:
      - httpApi:
          path: /score
          method: delete

  clearScores:
    handler: src/functions/scores.clearScores
    events:
      - httpApi:
          path: /scores
          method: delete
