<style>
  .behind-all {
    position: absolute;
    width: 1200px;
    z-index: -1; /* Negative z-index */
  }
</style>

<script>
  const container = document.createElement('div')
  container.className = 'wordle-grid'
  const rows = 30
  const cols = 20 // change numbers for bigger/smaller grid

  const yellow = '#b59f3b'
  const green = '#538d4e'
  const absent = '#3a3a3c'

  const colors = [absent, yellow, green, absent, absent, absent, absent] // more absents to make them more common

  const scoreboard = document.getElementById('scoreboard')
  for (let i = 0; i < rows; i++) {
    const row = document.createElement('div')
    row.className = 'wordle-grid-row'
    for (let j = 0; j < cols; j++) {
      const tile = document.createElement('div')
      tile.className = 'tile'
      tile.style.width = String(100 / cols) + '%'
      tile.style.backgroundColor =
        colors[Math.floor(Math.random() * colors.length)]
      row.appendChild(tile)
    }
    container.appendChild(row)
  }
  document.currentScript.replaceWith(container)
</script>
